.content {

  .main-view {
    height: calc(100vh - 70px);
    overflow-y: hidden;
    display: flex;
    align-items: center;
    padding: 0 5px 0 10px;

    .trading-view-container {
      height: calc(100vh - 70px);
      overflow-y: scroll;
      width:910px;
    }

    .right-column {
      margin-left: auto;
      width: calc(100vw - 850px);
      height: 100%;
      overflow-y: scroll;
      padding: 40px 10px;
    }
  }
}

