<div class="content">
	<top-bar></top-bar>
	<div class="main-view">
		<div class="trading-view-container">
			<trading-view *ngFor="let symbol of config.availableSymbolsForInvesting" [observableSymbol]="symbol.id"></trading-view>
		</div>
		<div class="right-column">
			<!--<button (click)="stopWatching()">Stop</button>-->
			<!--<button (click)="getBalance()">getBalance</button>-->
			<!--<button (click)="getBalance2()">getBalance2</button>-->
			<!--<button (click)="getHistoryOrder()">getHistoryOrder</button>-->
			<button (click)="placeOrder()">placeOrder</button>
			<button (click)="getww()">getww</button>
			<button (click)="subscribeReports()">subscribeReports</button>
			<order-table></order-table>
			<position-table></position-table>
		</div>
	</div>
</div>
